<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Blog</title>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<header>
<nav>
<ul>
  <li><a href = "/">首页</a></li>
  <!-- <li><a href = "/archive">存档</a></li> -->
  <!-- <li><a href = "/tags">标签</a></li>  -->
  <% if(user){ %>
		<li class = "logo"><a href = "/u/<%= user.name%>">我的博客</a></li>
		<li><a href = "/upload">上传</a></li>
		<li><a href = "/post">发表</a></li>
		<li><a href = "/logout">退出</a></li>
		<% }else{ %>
		<li class = "logo"><a href = "/login">我的博客</a></li>
		<li><a href="/login">登录</a></li>
		<li><a href="/reg">注册</a></li>
  <% } %> 
  <li><a href = "###">关于我</a></li>
</ul>
	<span><form action="/search" method="GET"><input type="text" name="keyword" 
	placeholder="SEARCH" class="search" /></form></span>
</nav>
</header>

